.main-home-section {}
.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(244, 248, 210);

}
.sub-header{
   padding: 20px 0;
   text-align: center;
    .input-searchbox{
        max-width: 400px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 200px;
        box-shadow: 0 0 10px rgba(90, 88, 88,.3);
        overflow: hidden;
        .serch-input{
            width: 100%;
            outline: none;
            border: none;
            padding: 8px 24px;
        }
        .serch-btn{
            width: clamp(60px,20%,200px);
            background-color: rgb(21, 164, 117);
            color: white;
            text-align: center;
            padding: 8px 12px;
            cursor: pointer;
        }
    }
}

.user-details-card-wrapper {
    width: 100%;
    padding: 20px 0;
    background-color: aliceblue;
}
.user-card-wrapper {
    display: flex;
    align-items: start;
    // flex-wrap: wrap;
    margin-bottom: 25px;
    padding: 30px 0;
    gap: 30px;
    border-radius: 8px;
    box-shadow: 0 0 7px rgba(25, 23, 23,.3);
    background-color: white;
    .image-box {
        width: clamp(350px,30%,500px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        img {
            width: 100%;
            max-width: 300px;
            object-fit: cover;
            border-radius: 8px;
        }
    }

}
.content-box {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;

}

.some-details {
    width: 100%;
    padding: 30px;
    background-color: rgba(229, 233, 236,.1);
    border-radius: 4px;
    box-shadow: inset 0 0 10px rgba(80, 77, 77,.1);
}
.detail-frame {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 48%;
    padding: 10px;
    background-color: rgba(229, 233, 236,.1);
    border-radius: 4px;
    box-shadow: inset 0 0 10px rgba(80, 77, 77,.1);
    gap: 8px;
    min-width: 200px;
    h6 {
        min-width: 100px;
        color: rgb(50, 48, 48);
    }
    p {
        width: 100%;
        padding: 6px 8px;
        border-bottom: 2px solid rgb(192, 189, 189);
        border-radius: 4px;
        background-color: white;
        color: rgb(45, 44, 44);
        padding-left: 10px;
    }

}

.tab-content {
    width: 100%;

}
@media (max-width:1024px) {
   .user-card-wrapper{
    flex-wrap: wrap;
    .image-box{
        width: 100%;
        padding: 10px;
       img{
        width: 70%;
        border-radius: 50%;
       }
    }
    .content-box{
        width: 100%;
    }
   }
}
@media (max-width:820px) {
    .detail-frame {
        width: 100%;
    }
}
